body {
    background: black;
    color: white;
}



header {
    text-align: center;
    text-transform: uppercase; 
    font-size: 2em;  
    padding-bottom: 1em;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.images {
    display: flex;
    justify-content: center;

}

.pfc:hover{
    filter:brightness(1.2) 
}

.Perudo:hover{
    filter:brightness(1.2) 
}

.PierreImage:hover{
    filter:brightness(1.5) 
}

.FeuilleImage:hover{
    filter:brightness(1.5) 
}

.CiseauxImage:hover{
    filter:brightness(1.5) 
}

#txtc {
    text-align: center;
    text-transform: uppercase; 
    font-size: 2em;  
}

#compteur {
    text-align: center;
    text-transform: uppercase; 
    font-size: 1em;  
}





